@font-face{
    font-family: 'VAGRoundedStd-Light';
    font-weight: normal;
    font-style: normal;
    src:url('VAGRoundedStd-Light.otf')format("opentype");
}

@font-face{
    font-family: 'VAGRoundedStd-Thin';
    font-weight: lighter;
    font-style: normal;
    src:url('VAGRoundedStd-Thin.otf')format("opentype");
}

@font-face{
    font-family: 'VAGRoundedStd-Bold';
    font-weight: bold;
    font-style: normal;
    src:url('VAGRoundedStd-Bold.otf')format("opentype");
}


@font-face{
    font-family: 'VAGRoundedStd-Black';
    font-weight: normal;
    font-style: normal;
    src:url('VAGRoundedStd-Black.otf')format("opentype");
}


body{
    font-size: 10pt;
    font-family: VAGRoundedStd-Thin;
    hyphens: none
    -webkit-hyphens:none;
}


p {
    font-size:1em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    hyphenate-after: 3;
    hyphenate-before: 3;
    hyphenate-lines: 2;
    -webkit-hyphenate-after: 3;
    -webkit-hyphenate-before: 3;
    -webkit-hyphenate-lines: 2;
    orphans: 2;
    widows: 2;
}





h1,h2,h3,h4{     
    font-family: VAGRoundedStd-Black;
    text-transform:uppercase;
    hyphens: none !important;
    -moz-hyphens: none !important;
    -webkit-hyphens: none !important;
    adobe-hyphenate: none !important;
    page-break-after: avoid;
    page-break-inside: avoid;
    margin: 0;
}

h1{
    font-size:1.8em;
    color: #f23f4e;
}

h2{
    font-size: 1.2em;
    margin-top: 2em;
    page-break-before: always;
}


b,strong{
    font-family: VAGRoundedStd-Bold;
}

figcaption{
        font-family: VAGRoundedStd-Bold;
	font-size:0.8em;
}

ul, ol, dl {
    margin: 1em 0 1em 0;
    text-align: left;
}

section.footnotes{
	font-size:0.8em;
}


div.cover, div.halftitle, div.title, div.publications, div#cover-image {
    text-align:center;
}

img.cover, img.halftitle, img.title{
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* width: auto; */
    /* height: auto; */
}


div.fig{
    width:100%;
}


img.fig {
    max-width:900px;
}


a.footnoteRef {
vertical-align: super;
line-height: normal;
font-size: 0.5em;
}


blockquote{
    font-size: 0.8em;
}

a { color: #f23f4e;
    text-decoration: none;
  }

a:hover { color: #f23f4e;
	  text-decoration: underline;
  }

    div.streams{
    font-family: VAGRoundedStd-Bold;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.15em;
    color: #f23f4e;
    -webkit-hyphens:none;
    hyphens: none;
    page-break-inside: avoid;
    }



hr {
    height: 0;
    color: #f23f4e;
    width: 100%;
    border: dotted 5px;
    border-bottom: none;
    font-size: 3em;
    border-left: none;
    border-right: none;
    margin-top:10px;
}

hr.streams {
    width: 15%;
}


ul {
 list-style-type: none;
 list-style: none; 
}


section#colophon h2, section#the-volkskrant-building-manufacturing-difference-in-amsterdams-creative-city h2, section#contents h2, section#acknowledgements h2 {  
    font-size:1.8em;
    color: #f23f4e;
}
